/* BASIC STYLES  */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 20px;
}

ul{
  list-style: none;
 }

li{
  cursor: pointer;
  list-style: none;
  color: hsl(0, 0%, 35%);
} 

h1{
  font-size: 70px;
  width: 500px;
 }

 p{
  margin: 30px 0px;
  width: 450px;
  line-height: 24px;
  color: hsl(0, 0%, 43%);
 }

a{
  color: hsl(0, 0%, 35%);
  text-decoration: none;
}

 li:hover{
  color:black;
  font-weight: 500;
  
}

.container, .nav, .snap-logo, .list, .container-header, .container-section{
  display: flex;
}

.mobile, .side-nav, .menu, .close-menu, #dropdown-content{
  display: none;
}

/* NAV STYLES */

.snap-logo{
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 120px;
}

.container{
  align-items: center;
  justify-content: space-between;

}

.nav{
  justify-content: space-between;
  width: 450px;
}


#feature-sidebar-link, #company-sidebar-link{
  display: none;
  padding-left: 30px;
}

.registration{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  text-align: center; 
  justify-content: space-between;
}

.register{
  color: #696969 ;
  border: 2px solid hsl(0, 0%, 41%);
  width: 150px;
  border-radius: 12px;
  cursor: pointer;
  padding: 5px 0px;
}

#featureContent{
  display: none;
  font-size: 17px;
  text-align: left;
  background-color: white;
  margin: 20px 0px 0px -30px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px  #888;
  padding: 10px  0px  10px 10px;
  position: absolute;
  cursor: pointer;
}

 #companyContent{
  display: none; 
  text-align: left;
  background-color: white;
  margin: 20px 0px 0px 0px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px  #888;
  padding: 10px 0 10px 10px;
  position: absolute;
  cursor: pointer;
}

#featureContent ul li, #companyContent ul li{
  padding: 6px 15px;
}

#featureContent ul li img{
  margin: 0px 10px 0px 0px;
}

/* HEDAER STYLES */



.container-header{
  margin: 50px 110px;
  height:auto;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;


  } 

.nowrap{
 white-space: nowrap;
}

.image{
  max-width: 500px;
  height: 495px;
}


.button{
  font-weight: 600;
  font-size: 18px;
  color: hsl(0, 0%, 98%) ;
  width: 180px;
  height: 55px;
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 8%);
}

.button:hover{
  color:  hsl(0, 0%, 8%);
  background-color:hsl(0, 0%, 98%) ;
  font-weight: 900;
}

/* SECTION STYLES */

 .container-section{
  max-width: 430px; 
  margin-top: 80px;
  justify-content: space-between;
  

} 



@media(min-width:599px) and (max-width:1100px){
.container{
  align-items: center;
  
}
.nav{
  min-width: 400px;
}

.snap-logo{
  padding-right: 0px;
}


  .container-header{
    margin-left: 20px;
    justify-content: center;
    overflow:visible;
    position: relative;
    left: 35px;
    
  }

  .paragraph h1{
    font-size: 45px;
    padding-top: 50px;
  }
  .paragraph{
    width: 450px;
  }
  .paragraph p{
    font-size: 18px;
  }

  .image{
    max-width: 390px;
    width: 50%;
    height: 500px;
  }

  .container-section{
    justify-content: space-between;
    width: 390px;
     margin-left:0px;
  }
}



@media  (max-width:500px){

/* BASIC STYLES  */

  body{
    height: 1000px;
    margin: 30px 5px;
    padding: 0px;
}
  h1{
    padding-top: 60px;
    padding-left: 7px;
    font-size: 45px;
    width: 100%;
  }

  p{
    line-height: 25.5px;
    width: 400px;
    margin-left: 20px;
  }

  .snap-logo{
    padding: 0px;
    margin: 0px;
  }
 
  .container{
    justify-content: space-between;
    min-width: 381px;
    margin: 0px 15px;
 }
  

  .nav, .registration, .image{
    display: none;
  }
  .menu, .mobile, .container-header, .snap-logo{
    display: flex;
  }

/* SIDE NAV STYLES MOBILE */

  #dropdown-content, .close-menu{
    display: block;
  }
  .menu{
    position: relative;
  }

  .side-nav{
    display: none;
    position: fixed;
    top:0px;
    right: 0px;
    cursor: pointer;
    max-width: 2011px;
    height: 1024px;
    background-color: rgb(244, 244, 244);
    margin: 0px 0px 0px -14px;  
    border-radius: 5px;
    padding: 30px 7px 0px 25px;
    cursor: pointer;
    box-shadow:  1px 2px 20px 2px #888;
  }
  .close-menu{
    display: block;
    margin-bottom: 70px;
    margin-right: 20px;
    text-align: right;
  }
  #dropdown-content a{
    line-height: 60px;
  }

  .login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
   
  }
  .spanRegister{
    border: 2px solid #8c8b8b;
    margin-top: 18px;
    width: 165px;
    padding: 9px 0px;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
  }

/* HEADER STYLES MOBILE */

  .container-header{
    flex-direction: column;

    text-align: center;
    margin:60px 20px;
   }

  .mobile{
    flex-direction: column;
    min-width: 250px ;
    width: 100%;
    height: auto;
    align-items: center;
    
  }
  .paragraph p {
    font-size: 18px;
  }
 .paragraph{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
   text-align: center;
 }

/* SECTION STYLES MOBILE */


  .container-section{
    justify-content: space-between;
    width: 625px;
    margin: 0px;
    margin-top: -25px;

    padding: 90px 10px;
  }
}




  


